.roomcard_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 20px;
    flex-wrap: wrap;
    background-color: #F3F3F3;
    padding: 100px 0;
}
.roomcard_container img{
    /* width: 40%; */
    height: auto;
    object-fit: cover;
}
.price_container{
    display: flex;
    align-items: center;
   
}
.price_container p{
  color: #787878;
    font-size: 18px;
}
.price_container h1{
    color: #232323;
    font-family: 'Lora';
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    }
.roomcard_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}






/* animations on image hover */
.imageWrapper{
    position: relative;
    width: 40%;
    overflow: hidden;
}

.imageWrapper img{
    width: 100%;
    transition: 0.4s ease;
}
.imageWrapper:hover img{
    transform: scale(1.1);
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:1;
  transition:0.2s ease-in-out;
}

/* show on hover */
.imageWrapper:hover .overlay{
  opacity:1;
}

/* button style */
.bookbtn{
  background:#fff;
  padding:10px 20px;
  border:none;
  font-weight:bold;
  cursor:pointer;
  border-radius:5px;
  
  
    transform: translateY(100px);
    transition: 0.4s ease;
  opacity: 0;
}

.imageWrapper:hover .bookbtn{
  transform: translateY(0);
  opacity: 1;
}
