.roomcard_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 100px 0;
  background-color: #f3f3f3;
}

.imageWrapper {
  position: relative;
  width: 400px;
  height: 260px;
  overflow: hidden;
}

.roo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

.bookbtn {
  padding: 10px 24px;
  border: none;
  background: #333;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 4px;
}

.roomcard_content {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.price_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* animations on image hover */
.imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  transition: 0.4s ease;
}
.imageWrapper:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

/* show on hover */
.imageWrapper:hover .overlay {
  opacity: 1;
}

.bookbtn {
  background: #fff;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;

  transform: translateY(100px);
  transition: 0.4s ease;
  opacity: 0;
}

.imageWrapper:hover .bookbtn {
  transform: translateY(0);
  opacity: 1;
}
