.hero {

  width: 100%;
  background-image:var(--bgImage);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;  /* image stays fixed while scrolling */
  overflow: hidden;
  
}

.overlay {
  position: relative;
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4); 
  color: white;
  text-align: center;
  padding: 0 20px;
}

.overlay h1 {
    font-size: 60px;
    margin-bottom: 10px;
    }
.overlay h2 { 
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 100;
    color: green;
    }
.overlay svg {
    
    cursor: pointer;
    transition: transform 0.3s;
 }
.overlay svg:hover { transform: scale(1.2); }






.hero_all_container{
  position: relative;
  
  
}
.overlay5{
 position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.frame_close_wrapper{
  position:"relative";
  display: flex;
   margin-bottom: 25px;
}

.cross{
  position:absolute;
top: 0;
display: flex;
margin-left: 880px;
margin-top: 200px;
color: rgb(252, 252, 252);

}
.frame{
   width:860px;
      height:450px;
}
.CirclePlay:hover{
    transform: scale(1);
    animation: popUpDown 0.5s ease-in-out infinite;
}
@keyframes popUpDown {
  0% {
    transform: translateY(0) scale(0.9);
  }
  50% {
    transform: translateY(1) scale(0.9);
  }
  100% {
    transform: translateY(1) scale(0.9);
  }
  
}




/* responsive for mobile */
@media screen and (max-width: 480px) {
.frame{
   width:400px;
      height:250px;
}
.cross{
  position:absolute;
top: 0;
display: flex;
margin-left: 360px;
margin-top: 280px;
color: rgb(252, 252, 252);

}
}


