
.about_container{
   background: #191919 url(../../assets/about_images/aboutus_Hero/1.jpg) center center no-repeat;
    background-size: cover;
    padding: 99px 0;
}
.header{
    margin-left:20%;
}
.about_container h1{
    color:white;
    font-size:50px;
    font-weight:600;
}


.tab_container{
  display: flex;
  align-items: center;
  gap:10px;
  color:white;
  font-size:20px;
  margin-top:20px;
}
.tab_container p{
    margin-bottom: 10px;
}
.navigation_link{
    text-decoration:none;
    color:white;
}
.navigation_link:hover{
    color: green;
}