.Aboutcontainer{
    position: relative;
       background: #191919 url(images/background/1.jpg) center center no-repeat;
    background-size: cover;
    /* padding: 99px 0; */
   
    height: 32vh;
}
.about_container{
position: absolute;
  top: 100px;
  left: 18%;
  
}

.about_container h1{
    color:white;
    font-size:50px;
    font-weight:600;
     
}


.tab_container{
  display: flex;
  align-items: baseline;
  gap:10px;
  color:white;
  font-size:20px;

}
.tab_container p{
    /* margin-bottom: 10px; */
    color: rgb(44, 42, 42);
}
.navigation_link{
    text-decoration:none;
    color:white;
}
.navigation_link:hover{
    color: green;
}

/* mobile responsive */
@media screen and (max-width: 480px) {
 
.header{
  
}
}