.promoting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: #f2f2f2;
  background-size: cover;
  padding: 80px 21px;
  border-radius: 10px;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
  gap: 20px;
  border-radius: 10px;
}
.promoting_container h1 {
  color: black;
  margin-bottom: 40px;
}

/* mobile responsive */
@media screen and (max-width: 480px) {

.promoting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  background-color: #f2f2f2;
  background-size: cover;
  padding: 60px 0px;
  border-radius: 10px;
}
.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
}
.img_promote{
 max-width: 80%;
}
}