/* ################# popup date choose ##################### */
.popup_overlay{

 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/* .popup_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;  
} */
 .popup_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
  width: 80%;
  max-width: 1100px;
  padding: 20px;

}

.booking_date_form{
  
  display: flex;
 align-items: center;
  gap: 15px;
  margin: 20px 0;
  background-color: #c5c3c3;
  padding: 15px 20px;
  border-radius: 10px;
 

}
.date_input_wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  
}

.date_input_wrapper .icon{
  position: absolute;
  min-width:20px
  
  
}
/* .icon{
  margin-top: 26px;
  margin-left: 10px;
  
} */
.input_guest{
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  
}

.promoBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: rgb(8, 105, 4);
  font-size: 16px;
  font-weight: 550;
  text-align: center  ;
  background-color: #f3f3f3;
}
.promoBtn img{
  width: 20px;
  height: 20px;
}
.btnContent{
  background-color: red;
}

/* room details content and image */
.details_room{
  display: flex;
  align-items: center;
  gap: 8px;
}
.paragraph{
  text-align: justify;
  
}
.popup_room_details_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img_content_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.roomimage{
  width: 400px;
  /* height: 250px; */
  object-fit: cover;
}
.content_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    gap: 10px;
}

.popup_room_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.All_icon_wrapper{
  display: flex;
 justify-content: center;
  align-items: center;
  gap: 5px;
}
.cancle_icon_text_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
        border: 2px solid #918383;
    border-radius: 10px;
    /* gap: 10px; */
}
.cancle_icon_text_subcontainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 15px;
}
.cancle_icon_text_wrapper{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 5px;
}
.img_content_container{
    display: flex;
}
.cost_for_night_wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rupee_wrap{
    display: flex;
    align-items: center;
    gap: 3px;
}
.para{
    font-size: 18px;
    color: green;
    
}
.paytoday{
       font-size: 18px;
       
}
.moreinfo{
       font-size: 18px;
      margin-left: 25px;
           color: green;
}
.costprice{
    font-size: 20px;
      color: rgb(128, 122, 122);
}
.price{
    font-size: 22px;
  
}
.bookbtn_popup{
    padding: 15px 40px;
    font-size: 25px;
    background-color: rgb(8, 105, 4);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}
.bookbtn_popup:hover{
    box-shadow: 0 6px 18px rgb(25, 0, 255);
  transform: translateY(-2px);
}