.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading_container h3 {
  color: #242424;
  font-size: 44px;
  line-height: 36px;
  margin-bottom: 10px;
}

.wrap_h1_p {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}
.wrap_h1_p h1 {
  color: #c19b76;
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  font-size: 39px;
  margin-top: 10px;
}
.wrap_h1_p p {
  font-size: 16px;
  color: #797979;
}

.img_content_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.content {
  width: 35%;
}
.para {
  color: #7e7e7e;
  font-size: 25px;
  line-height: 36px;
  font-weight: 300;
  font-style: italic;
  font-family: "Poppins";
  margin-top: 25px;
  text-align: justify;
}

.about_btn {
  text-align: center;
  background-color: #4d9221;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 15px 60px;
  line-height: 100px;
}
.about_btn:hover {
  background-color: #272727;
}
.sudarshanabout {
  width: 500px;
  height: 325px;
  margin-top: 100px;
  border-radius: 3%;
}

@media screen and (max-width: 480px) {
  .heading_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn_and_text_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .about_btn {
    margin-top: 20px;
    width: fit-content;
    line-height: 15px;
  }
  .image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sudarshanabout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 80%;
    margin-top: 15px;
    border-radius: 3%;
  }
}
