.container_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-top: 120px;
}

.line{
    width: 3%;
    height: 2px;
    background-color: #008000;
 
}
.services{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    justify-content: center;
    
}

.service_card{
    padding: 25px;
   
}
.service_h1{
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #333;
    text-decoration:none;
  
}
.service_card p{
    color: #787878;
    font-family: 'Open Sans';
    line-height: 25px;
}
.service_card img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 12px;
}

@media screen and (max-width:480px) {
    .services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.service_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0; */
    width: 80%;
    border: 1px solid black;
  
}
.line{
    width: 10%;
}
}