
.aboutus_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 21px;
 
  
  
}
.line {
  width: 50px;
  height: 2px;
  background-color: green;
  margin-left: 20.5%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.aboutus_container h1 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  margin-left: 20.5%;
  margin-top: 40px;
}
.content_p {
  font-size: 20px;
  color: #555555;
  width: 80%;
  text-align: justify;
  line-height: 1.6;
}
.aboutus_content_and_img {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.aboutus_content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-right: 5px;
  height: auto;
  gap: 20px;
}
.img1 {
  width: 500px;
  height: auto;
  border-radius: 10px;
}



/* mobile responsive */
@media screen and (max-width: 480px) {
  .aboutus_container {
  justify-content: flex-start;

  /* background-color: red; */

}
.aboutus_content_and_img {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 20px; */
}
.aboutus_content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
  margin-right: 0;
  gap: 1px;
  /* background-color: yellow; */
}
.content_p {
  width: fit-content;
 
}
.aboutus_container h1,.line  {
  margin-left: 0;
 
}
.img1 {
  width: 320px;
}



}