
.containerallwrap{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 40px;
    padding:100px 21px;;
    margin-left: 50px;
    
    /* width: 100%; */
    /* background-color: red; */
}
.contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sudarshanresort_header_line_wrapper{
    /* background-color: red; */
    width: 100%;
}
.h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #242424;
}
.icon_and_p_wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.icon{
    margin-top: 15px;
}
.icon_and_p_wrapper p{
        color: #797979;
    font-family: 'Poppins';
    font-size: 16px;
}

.line{
    margin-top: 20px;
    width: 700px;
    border-bottom: 1px solid #D4D4D4;
    
   
   
   
    
}