.sudarshan_main_container{
   position:relative;
    width: 100%;
    height: fit-content;
   
}


.sudarshan_img_container img{
   width: 100%;
   height: 75vh;
   object-fit: cover;
}
@media screen and (max-width: 480px) {
.sudarshan_img_container img{
   width: 100%;
   object-fit: cover;
   /* height: 65vh; */
   
}
}