.sudarshan_main_container {
  position: relative;
  width: 100%;
   
}

/* Image wrapper */
.sudarshan_img_container {
  position: relative; /* Required for overlay content */
  width: 100%;
  /* display: flex;
  flex-direction: column;
   */
}

/* Hero Image */
.sudarshan_img_container img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
 
}







@media screen and (max-width: 480px) {
  .sudarshan_img_container img {
    height: 65vh;
  }
}





.topcontainer {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 45%;
  left: 20%;
}

/* Small heading */
.top {

  color: #ffffff;
  font-family: "Lora";
  font-style: italic;
  font-size: 19px;
}

/* Typing wrapper */


/* Typing row */
.typing_container {
  font-size: 55px;
  font-family: "Playfair Display";
  font-weight: 700;
  display: flex;
  align-items: center;
  /* background-color: red; */
  color: white;
}

/* Comfort text */
.comfort {
  font-size: 55px;
  font-weight: 700;
  color: #ffffff;
  margin-right: 15px;
}

/* Typing animated text */
.typing_text {
  font-style: italic;
  font-family: "Lora";
  width: fit-content;
}

/* Cursor */
.cursor {
  font-weight: bold;
  margin-left: 3px;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.blink {
  opacity: 0;
}

/* Bottom heading + button */
.h1_Link_btn_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
 
}

.for_your_vacation {
  font-size: 55px;
  font-weight: 700;
  font-family: "Poppins";
  color: #ffffff;
}

/* Button */
.book_now_btn {
  margin-top: 40px;
  padding: 14px 33px;
  font-size: 18px;
  background-color: #4d9221;
  color: white;
  text-decoration: none;

}

.book_now_btn:hover {
  background-color: #353535;
}

/* 📱 MOBILE VIEW */
@media screen and (max-width: 480px) {
  
  .topcontainer {
    top: 30%;
    left: 20px;
    width: fit-content;

  }

  .typing_container {
    font-size: 26px;
    width: fit-content;
    flex-wrap: nowrap;
  }

  .comfort {
    font-size: 26px;
  
  }

  .for_your_vacation {
    font-size: 24px;
    
  }




}

