.sudarshan_main_container {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.typing_container{
  display: flex;
  align-items: center;
}
.typing_text{
       font-family: 'Lora';
    font-style: italic;
      margin-left: 10px;
}
.cursor{
  font-size: 2em;
  
}
.heroImg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.topcontainer {
  position: relative;
  z-index: 2;
  top: 45%;
  left: 20%;
}
.book_now_btn{
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: green;
 width: fit-content;
  padding: 15px 40px;
}
.h1_Link_btn_wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top{
  
  color: #FFFFFF;
    font-family: 'Lora';
    font-style: italic;
    font-size: 19px;
}
.comfort, .typing_text, .for_your_vacation{
  color: white;    
  font-size: 55px;
}


/* for cursor */
.cursor {
  font-size: 55px;
  margin-left: 5px;
  color: white;
  /* Blinking animation */
  animation: blink 1s step-start infinite;
}

/* Define the blinking keyframes */
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
