.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin-bottom: 25px; */
  padding-bottom: 25px;
  /* background-color: red; */

  /* position: relative; 
  overflow: hidden; */

  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  overflow-y: auto;
}
.resort_booking_from {
  color: var(--colors-foreground-default);
  font-size: 28px;
}
.header {
  /* margin-right: 330px; */
  display: flex;
  margin: 40px 300px 40px 0px;
  flex-direction: column;
}
.header p {
  margin: 0;
}
.bookatyour_fingertips{
    font-size: 18px;
    padding-top: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 30%;

  height: auto;
}
input {
  padding: 6px;
  width: 100%;
}
.select_gender,
.select_country {
  padding: 6px;
  width: 50%;
}
.display {
  display: flex;
  flex-direction: column;
}
.number {
  width: 50%;
}
.label {
  display: flex;
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 36px;
  width: fit-content;
}
.error_content {
  color: red;
  margin-bottom: 6px;
  font-size: 14px;
}
.error_list_all{
    margin-top: 55px;
    color: red;
    margin-left: 15px;
}
.ul_error{
    margin-top: 10px;
}


.date {
  width: 50%;
  min-height: 35px;
}
.date::-webkit-calendar-picker-indicator {
  opacity: 0; /* make icon invisible */
  cursor: pointer; /* still clickable */
}
.date {
  -moz-appearance: none;
}
.star {
  color: red;
}

.messageBox {
  min-height: 100px;
  border: 2px solid rgb(223, 213, 213);
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
.messageBox:hover {
  border: 2px solid #46464b;
}
.li_all {
  color: red;
  line-height: 1.1;
}
.btn_submit {
  width: fit-content;
  font-size: 15px;
  padding: 8px 20px;
  background-color: blue;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.donot_submit {
  font-size: 12px;
}

/* icon */
.input {
  position: relative;
}
.gender_icon {
  position: absolute;
  top: 800px;
  left: 48%;
}
.country_icon {
  position: absolute;
  top: 912px;
  left: 48%;
}

.icon_purpose {
  position: absolute;
  top: 1425px;
  left: 48%;
}

.icon_roomtype {
  position: absolute;
  top: 1425px;
  left: 48%;
}

.borderinput {
  border: 2px solid rgb(223, 213, 213);
  border-radius: 5px;
}
.borderinput:hover {
  border: 2px solid #46464b;
}

/* below this for popup screen */
.overlay {
    position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center; 
  justify-content: center;
  z-index: 999;
  transition: background-color 0.3s ease;
 
    
  /* position: absolute;
  top: 0;
  margin-top: 77%;
  left: 0;
  width: 100vw;
  height: 80vh;
  padding-bottom: 140px;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
   transition: background-color 0.3s ease; */
}
.overlayActive {
  background-color: rgba(0,0,0,0.6);
}
.modalBox {
       width: 500px;
  max-width: 90%; 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: none; 
    


  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: none;
}
.modalActive {
  
  opacity: 1;
   animation: bounceIn 0.5s ease forwards;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.05); /* overshoot */
  }
  80% {
    transform: scale(0.97); /* small bounce back */
  }
  100% {
    transform: scale(1);
  }
}



.noScroll {
  overflow: hidden !important;
}
.container {
  display: flex;
  flex-direction: column;
}
.heading_wrapper {
  display: flex;
  flex-direction: column;
}
.popupform {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.h2 {
  display: flex;
  justify-content: space-between;
  color: rgb(29, 31, 37, 1);
  font-weight: 500;
}
.line {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.content {
  font-size: 13px;
  font-weight: 400;
  color: rgb(97, 102, 112, 1);
}

.selector_textarea_wrapper {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  gap: 10px;
}
.input_span {
  display: flex;
  gap: 1px;
}
.selector {
  background-color: red;
  width: 40px;
}
.span {
  font-size: 13px;
  color: rgb(29, 31, 37, 1);
  font-weight: 400;
}

.textarea {
  height: 20vh;
  margin-top: 5px;
  padding-left: 16px;
  padding-top: 16px;
  font-size: small;
  border-color: rgb(0, 0, 0, 0.1);
  border-radius: 6px;
}
.btn_container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px 0 10px 0;
  margin-top: 25px;
  border-top: 1px solid rgb(207, 207, 207);
}
.btn_cancle {
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  background-color: white;
  height: 32px;
}
.btn_cancle:hover {
  background-color: rgb(199, 196, 196);
}
.btn {
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: blue;
  height: 32px;
}
.reportbtn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: small;
    border-bottom: 2px solid rgb(0,0,0,0.1);
    line-height: 25px;
}

.thankyou_container{
      position: absolute; 
  top: 460px;
  left: 0;
  width: 100%;
  height: 60vh; 
  /* margin-top: 488px; */
  background-color: white;
  display: flex;
  align-items: center; 
  justify-content: center;
  z-index: 999;
  transition: background-color 0.3s ease;
font-size: 25px;
    border: 1px solid rgb(97, 96, 96);
    
   
}
