.Blog_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    border: 1px solid rgb(153, 149, 149);
   /* background-color: rgb(255, 255, 255); */
   padding: 30px 10px;
  
   
    
    
}
.Blog_container img{
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin-bottom: 20px;
}
.Blog_container h3{
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 30px;
    color: rgb(0, 0, 0);
   
}
.Blog_container p{
   font-size: 18px;
    font-family: 'Open Sans';
    line-height: 26px;
    text-align: center;
    color: rgb(102, 80, 80);
    /* padding: 20px; */
      width: 230px;
    height: auto;
    /* background-color: red; */
}
