.container{
    position: absolute;
    top:0;
    left:0;
    margin-top: 25%;
    /* background-color: red; */
    margin-left: 15%;
}
.container span{
  color: #FFFFFF;
    font-family: 'Lora';
    font-style: italic;
    font-size: 19px;
}

.container h1{
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0;
    line-height: 1.2em;
    
}

.paragraph_container{
    /* visibility: hidden; */
}







/* here below */
.paragraph_container {
  position: relative;
  height: 2em; /* adjust to your text height */
  overflow: hidden;
  
}

.paragraph_container p {
  position: absolute;
  width: 100%;
  opacity: 0;
  margin:0;
  /* center horizontally if you like: */
  text-align: center; 
  animation: change 9s infinite;
}

.paragraph_container p:nth-child(1) {
  animation-delay: 0s;
}
.paragraph_container p:nth-child(2) {
  animation-delay: 3s;
}
.paragraph_container p:nth-child(3) {
  animation-delay: 6s;
}

@keyframes change {
  0% { opacity: 0; transform: translateY(20px); }
  5% { opacity: 1; transform: translateY(0px); }
  30% { opacity: 1; transform: translateY(0px); }
  35% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 0; }
}
