.container{
    position: absolute;
    top:0;
    left:0;
    margin-top: 25%;
    /* background-color: red; */
    margin-left: 15%;
}
.container span{
  color: #FFFFFF;
    font-family: 'Lora';
    font-style: italic;
    font-size: 19px;
}

.container h1{
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0;
    line-height: 1.2em;
    
}

.paragraph_container{
    /* visibility: hidden; */
}