

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    background-color: rgb(255, 255, 255);
   
    content: justify;
}

.container h2{
    font-size: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: 50px;
    color: rgb(0, 0, 0);

    /* border-bottom: 1px solid rgb(153, 149, 149); */
    /* margin-bottom: 10px; */
}
.horizontal_line{
 border-bottom: 1px solid rgb(255, 2, 2);
}
.Facilities_blogcards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px;
  background-color: #ffffff;
  
}