
.container_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    
}
.footer_hero_container{
     display: flex;
    align-items: center;
    justify-content:center;
    gap: 100px;
    background-color: green;
    color: white;
    padding: 30px;   
  
}

.footer_nav , .container_contact_info {
    margin-bottom: 55px;
}

.footer_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
     
    
   
}

.footer_header p{
    font-size: 16px;
    line-height: 25px;
    width: 95%;
    height: auto ;
    text-align: left;
    font-family: 'Open Sans';
    color: white;
  

}
.social_media_icon_container{
    display: flex;
    gap: 15px;
    margin-top: 20px;
   
     width: fit-content;
    margin-bottom: 70px;
}
.footer_nav{
    display: flex;
    flex-direction: column;
   
    margin-right: 125px;
    
}
.footer_nav h2{
    line-height: 90px;
    /* margin-bottom: 15px; */
    
}

ul{
    line-height: 35px;
    /* color: white; */
    
}
.nav_btn{
    color: white;
    text-decoration: none;
    font-family: 'Poppin';
    font-weight: 400;
    
    
}
.dash_list{
    list-style-type: "- ";
  padding-left: 20px;
  
}

/* below this container contact div css */

.container_contact_info{
    display: flex;
    flex-direction: column;
   
    
}
.container_contact_info p{
    font-family: 'Open Sans';
    font-size: 16px;
    
    color: white;
}
.container_contact_info h2{
    margin-bottom: 15px;
    
}

.mappin{
    /* background-color: red; */
    margin-top: 15px;
    
}


.location_container,
.phone_container,
.mail_container{
    display: flex;
    align-items: center;
    gap: 15px;
    
    /* line-height: normal; */
}

.container_bottom{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 16px;
    color: white;
    height: 45px;
    gap: 29%;
    background-color: #141414;
}
.container_bottom p{
     font-family: 'Open Sans';
     color: white;
    
}
.pracas{
    text-decoration: none;
   
    
}






/* mobile responsive */

@media screen and (max-width: 480px) {
.container_footer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    
    
}
.footer_hero_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 0;

}

.footer_nav , .container_contact_info {
    margin-bottom: 15px;
}
.social_media_icon_container{
   
    margin-bottom: 10px;
}
.container_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    height:fit-content;
    gap: 1px;
   
    background-color: #141414;
   
}
}