
.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #3d7703;
}
.mainContainer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.phoneContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.phoneContainer p{
    color: white;
}



.emailContainer{
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
    gap : 10px;
}

.emailContainer p{
    color: white;
}


.socialmediaIcon{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.SudarshanHome{
    width: 100%;
    height: 100vh;
    margin-top: 20px;
}