/* Navbar Container */
.nav_container {
  width: 100%;
  height: 120px;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-top: 2px solid #3c5f1d;
    
  
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-top: none;
   
}

/* Logo */
.nav_logo img {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 50px;
}

/* Menu */
.nav_menu {
  display: flex;
  
  gap: 40px;
  list-style: none;
}

.nav_button_both_container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 100px;
}

.nav_menu li {
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}

.nav_menu li:hover {
  color: #7fbf42;
}

/* BOOK NOW Button */
.book_btn {
  background: #4d9221;
  border: none;
  color: white;
  font-size: 15px;
  padding: 12px 30px;
  /* border-radius: 4px; */
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;
}

.book_btn:hover {
  background: #fff;
    color: #4d9221;
}
