/* TOP BAR*/
.topBar {
  position: relative;
  width: 100%;
  background-color: #3d7703;
  z-index: 1000;
}

.topContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  background-color: rgb(160, 158, 158);
  gap: 100px;
}

.phone_mail_wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.phoneContainer,
.emailContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phoneContainer p,
.emailContainer p {
  color: #fff;
  margin: 0;
}

.socialmediaIcon {
  display: flex;
  gap: 20px;
}
/* navbar active  color set*/
.active {
  color: #2ecc71;
  text-decoration: none;
  font-weight: 600;
}

.navMenu .active::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #2ecc71;
  margin-top: 5px;
}

/* Mobile */
.navMobile .active {
  background: rgb(12, 192, 36);
  
}


/* NAVBAR */
.navContainer {
  position: relative;
  z-index: 2000;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 40px;
  transition: background 0.3s ease;
}

.navScroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #787878;
}

.navLogo img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.container_wrapper_bookingimg {
  display: flex;
  gap: 50px;
}

.navMenu {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.li {
  color: white;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.li:hover {
  color: #7fbf42;
}

/* Book button */
.linkBook img {
  height: 40px;
  border-radius: 6px;
}

/* MOBILE MENU */
.menu {
  display: none;
  cursor: pointer;
}

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1a1a1a;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, background 0.3s ease;
  z-index: 1500;
  display: flex;
  justify-content: center;
}

.mobileMenu.active {
  max-height: 500px;
}

.mobileScroll {
  background: #787878;
}

.navMobile {
  list-style: none;
  border: 1px solid rgb(209, 205, 205);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin: 25px 100px;
}

.navMobile li {
  width: 100%;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.navMobile a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
}

.navMobile li:hover,
.navMobile a:hover {
  background: #d68e08;
}

/* RESPONSIVE  */
@media screen and (max-width: 480px) {

  /* Top bar */
  .topContent {
    flex-direction: column;
    gap: 10px;
  }

  .phone_mail_wrapper {
    flex-direction: column;
    gap: 8px;
  }

  /* Navbar */
  .navContainer {
    justify-content: space-between;
  }

  .navMenu {
    display: none;
  }

  .menu {
    display: block;
  }
}
