/* ================= TOP BAR ================= */
.topBar {
  position: relative;
  width: 100%;
  background-color: #3d7703;
  z-index: 1000;
  /* transition: transform 0.4s ease; */
}


.phone_mail_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.topContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  background-color: rgb(160, 158, 158);
  
  gap: 100px;
}

.phoneContainer, .emailContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phoneContainer p, .emailContainer p {
color: rgb(255, 255, 255);
  margin: 0;
}

.socialmediaIcon {
  display: flex;
  gap: 20px;
}

/* ================= NAVBAR ================= */
.navContainer {
  position: relative;
  z-index: 2000;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 40px;
  transition: background 0.3s ease;
  height: 90px;
}
.container_wrapper_bookingimg{
  display: flex;
  
 gap: 50px;
}
.navScroll {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #787878;

}

.navLogo img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.navMenu {
 
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.li {
  color: white;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.li:hover {
  color: #7fbf42;
}

/* Book button */
.linkBook img {
  height: 30px;
  position: static;
}


/* Mobile */
.menu {
  display: none;
  cursor: pointer;
}

.mobileMenu {
 position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1a1a1a;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  z-index: 1500;

}




.mobileMenu.active {
  max-height: 500px;
}

.navMobile {
    list-style: none;
  margin: 0; 
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 8px;
 
}

 .navMobile li {
  width: 100%;
  padding: 12px 20px;
}

.navMobile a {
  display: block;
  width: 100%;
  padding-left: 10px;
  text-align: left;
}

.navMobile li:hover, .navMobile a:hover {
  background: #d68e08;
}























/* ================= RESPONSIVE ================= */
@media screen and (max-width: 480px) {
    .navContainer {
    justify-content: space-between;
  }
  

  
  .navMenu {
    display: none;
  }

  .menu {
    display: block;
  }

  .topContent {
    flex-direction: column;
    gap: 10px;
  }

  .phone_mail_wrapper {
    flex-direction: column;
    gap: 8px;
  }
    .navMenu {
    display: none;
  }

  .menu {
    display: block;
  }
   
    
    
}


