/* ================= TOP BAR ================= */
.topBar {
  position: relative;
  width: 100%;
  background-color: #3d7703;
  z-index: 1000;
  /* transition: transform 0.4s ease; */
}


.phone_mail_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.topContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  gap: 100px;
}

.phoneContainer, .emailContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phoneContainer p, .emailContainer p {
  color: white;
  margin: 0;
}

.socialmediaIcon {
  display: flex;
  gap: 20px;
}

/* ================= NAVBAR ================= */
.navContainer {
  position: sticky;
  top: 0;
  z-index: 2000;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 40px;
  transition: background 0.3s ease;

}

.navScroll {
  position: fixed;
  background: #787878;

}

.navLogo img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.li {
  color: white;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.li:hover {
  color: #7fbf42;
}

/* Book button */
.linkBook img {
  height: 30px;
}

/* Mobile */
.menu {
  display: none;
  cursor: pointer;
}

.mobileMenu {
  position: fixed;
  top: 110px;
  width: 100%;
  background: #1a1a1a;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  z-index: 1500;
}

.mobileMenu.active {
  max-height: 500px;
}

.navMobile {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navMobile li, .navMobile a {
  display: block;
  padding: 12px 25px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.navMobile li:hover, .navMobile a:hover {
  background: #d68e08;
}

/* ================= RESPONSIVE ================= */
@media screen and (max-width: 768px) {
  .navMenu { display: none; }
  .menu { display: block; }
  .mobileMenu { top: 90px; }
}
