.container_accomodation_top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  background-color: #f4f4f4;
  padding-top: 100px;
  padding-bottom: 100px;
}
.container_accomodation {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 460px;
  background-color: #f4f4f4;
}

.content_wrap {
  display: flex;
  flex-direction: column;
}
.p_and_div {
  display: flex;
  gap: 10px;
}
.p_and_div p {
  color: #797979;
  font-family: "Lora";
  font-style: italic;
  font-size: 20px;
  margin-top: 5px;
}

.line_horizontal {
  border-bottom: 2px solid black;
  width: 50px;
}

.btn {
  display: inline-block;
  border: 1px solid #505050;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 500;
  color: #242424;
  width: 202px;
  max-width: 100%;
  line-height: 52px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #f4f4f4;
}
.btn:hover {
  background-color: black;
  color: white;
}
.images_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
  /* gap: 30px; */
}
.img_wrap {
  position: relative;
  overflow: hidden;
  width: 550px;
  height: 400px;
}
.img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img_wrap::before {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins";
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); /* soft shadow */
  transform: translateY(100%); /* start hidden below */
  transition: transform 0.7s ease;
  pointer-events: none; /* so hover works on image */
}
.img_wrap:hover::before {
  transform: translateY(0);
}

.book_now {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  padding: 12px 25px;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.book_now {
  text-decoration: none;
}

.img_wrap:hover .book_now {
  opacity: 1;
  color: #ffffff;
  border-bottom: 1.5px solid #ffffff;
  border-bottom-width: 2px;
  background: none;
  line-height: 10px;
  font-size: 18px;
  transform: translate(-50%, -50%) scale(1);
}

.p1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  opacity: 1;
  transform: translateY(-50px);
  transition: all 0.35s ease;
}

.img_wrap:hover .p1 {
  opacity: 1;
  font-family: poppins;
  color: #ffffff;
  line-height: 0;
  font-size: 18px;
  font-weight: 500;
  transform: translate(200px, -250px);
}

.start_price {
  position: absolute;
  bottom: 60px;
  left: 20px;
  color: #ffffff;
  text-decoration: none;
  background: green;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Poppins";
  opacity: 1;
  transform: translateY(40px);
  transition: all 0.35s ease;
}
.start_price:hover {
  background-color: #302e2d;
}
.img_wrap:hover .start_price {
  opacity: 1;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  border: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transform: translate(160px, -160px);
}

@media screen and (max-width: 480px) {
  .container_accomodation_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: red;
  }

  .container_accomodation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    width: fit-content;
    padding: 0;
    /* background-color: yellow; */
  

  }
  .content_wrap {
  display: flex;
  flex-direction: column;
  background-color: yellow;
}
  .p_and_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .btn {
    margin-top: 25px;
    margin-right: 200px;
  }
  .line_horizontal {
    position: absolute;
    margin-top: 40px;
    border-bottom: 2px solid black;
    width: 50px;
    left: 100px;
  }
  .content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  /* this is for image of our accomodation */
  .images_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 50px;
    
  }
  .img_wrap {
    width: 400px;
    height: 300px;
  }

  .img_wrap:hover .p1 {
    font-weight: 600;
    transform: translate(130px, -180px);
  }

  .img_wrap:hover .start_price {
    width: 40%;
    line-height: 25px;
    border-radius: 0;
    text-align: center;
    transform: translate(100px, -60px);
  }
  .img_wrap:hover .book_now {
    font-size: 17px;
    margin-top: 50px;
    transform: translate(-50%, 20%) scale(1);
  }
  .img_wrap:hover .book_now {
    border-bottom-width: 1px;
    line-height: 5px;
  }
}
