
.starting_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(209, 213, 219);
     position: relative;
      opacity: 1;
   animation: blink 3s infinite;
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.X{
    width: 30px;
    height: 30px;
    background-color: #d9534f;
   border-color:#d43f3a ; 
    margin-left: 26%;
        cursor: pointer;
        top: 200px;
        margin-top: 10px;
        border: none;
        border-radius: 25px;
        color: #fff;
      position: absolute !important;
}

.starting_img{
  border-radius: 3%;
      height: 500px !important;
    width: 500px !important;
    cursor: pointer;
   
}