.sudarshan_main_container{
    width: 100%;
    height: 100;
    
     /* position: relative; */
   
  
}

.sudarshan_img_container{
   
}

.sudarshan_img_container img{
   width: 100%;
   height: 75vh;
}