.sudarshan_main_container{
    width: 100%;
   position: relative;
   
}


.sudarshan_img_container img{
   width: 100%;
   height: 75vh;
}
@media screen and (max-width: 480px) {
.sudarshan_img_container img{
   width: 100%;

   height: 65vh;
   
}
}