/* Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(202, 200, 200);
    padding: 100px 20px;
}

.container h3 {
    color: #232323;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
}

.horizontal_line {
    background: #008000;
    width: 50px;
    height: 2px;
    margin: 10px auto 0;
}

/* Cards row - 3 cards per row */
.cards_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-around; */
    gap: 30px;
    margin-top: 20px;
    width: 80%;
}

/* Each card width */
.cards_row > div {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    /* margin-bottom: 30px; */
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
    .cards_row > div {
        flex: 0 0 calc(50% - 20px); /* 2 per row on tablet */
    }
}

@media screen and (max-width: 768px) {
    .cards_row > div {
        flex: 0 0 100%; /* 1 per row on mobile */
    }
    
}

@media screen and (max-width: 480px) {
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(202, 200, 200);
    padding: 80px 0;
}
.cards_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-around; */
    gap: 30px;
    margin-top: 20px;
    width: 90%;
}
}
