.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bookicon{
     position: fixed;
    bottom: 100px;
    top: 72%;
    right: 30px;
    width: 80px;
    height: 80px;
    z-index: 200;
}
.whatsapp{
    position: fixed;
    bottom: 100px;
    right: 40px;
    width: 60px;
    height: 60px;
    z-index: 100;
}
