.container_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-top: 120px;
}

.line{
    width: 3%;
    height: 2px;
    background-color: #008000;
    /* margin: 20px 0; */
}
.services{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    justify-content: center;
    
}

.service_card{
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    padding: 25px;
    /* text-align: center; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.service_h1{
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #333;
    text-decoration:none;
  
}
p{
    font-size: 1rem;
    color: #787878;
    font-family: 'Open Sans';
    margin-top: 15px;
    line-height: 25px;
}
.service_card img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 12px;
}