/* Accommodation styles */
.accommodation {
    text-align: left;
    padding: 50px 20px;
    background-color: #e0e0e0;
}

.accommodation h2,
.accommodation p {
    display: block;
    color: black;
    margin-bottom: 10px;
}

.view-rooms {
    float: right;
    margin-top: 0px;
    
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
}

.room-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.room-item {
    position: relative;
    flex: 1 1 45%;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-img {
    width: 95%;
    height: auto;
}

.room-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
