/* Header styles */
.header {
    background-image: url('/src/assets/resort.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    background-color: rgba(19, 91, 2, 0.7);
    padding: 10px 20px;
    width: 100%;
}

.contact-info span {
    margin-right: 25px;
    
   
}

.social-icons img {
    width: 24px;
    height: 24px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    width: 100%;
}

.logo {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    cursor: pointer;
}

.hero-content {
    text-align: center;
    margin: auto;
}

.book-now {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-now:hover {
    background-color: #45a049;
}