.feature_container {
  display: flex;
  background-color: #2c2c2c;
}
.feature_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding-right: 100px;
}
.feature_container_header {
  display: flex;
  flex-direction: column;
}
.feature_container_header h1 {
  color: white;
  margin-left: 60px;
  margin-top: 20px;
}
.feature_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 50px;
  margin-top: 20px;
  padding-right: 100px;
  color: white;
}

.line {
  width: 50px;
  height: 2px;
  background-color: green;
  margin-left: 80px;
  margin-top: 20px;
}
.list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  list-style: none;
}
.list_container ul {
  display: flex;
  gap: 150px;
  padding: 0;
  margin: 0;
}
.list_container li {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 45px;
  list-style: none;
}

.feature_container_footer {
  width: 100%;
  display: flex;
  gap: 40px;

  margin-left: 20%;
}
.line2 {
  width: 90%;
  border-bottom: 1px solid rgb(250, 250, 250);
  margin-top: 50px;
  margin-left: 10%;
}

.FooterIconContainer {
  display: flex;
}
.FooterIconContainer img {
  width: 80px;
  height: 80px;
  margin-top: 55px;
  margin-right: 15px;
  cursor: pointer;
}
.FooterIconContainer h3 {
  color: white;
  margin-top: 80px;
  width: 110px;
}
.line3 {
  border-left-style: dotted;
  margin-top: 55px;
  margin-left: 25px;
}

/* mobile responsive */
@media screen and (max-width: 480px) {
    .feature_container {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  padding-bottom: 55px;
}
  .image_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .image_main_container img {
    width: 90%;
  }
  
  .list_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}
.list_container_check{
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.list_container ul {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0;
  margin: 0;
}
.list_container li {
  font-size: 20px;
  display: flex;
  align-items:flex-end;
  gap: 10px;
  line-height: 0;
  list-style: none;
}
.line {
  width: 50px;
  height: 2px;
  background-color: green;
  margin-left: 8%;
  margin-top: 20px;
}

.line2 {
 width: 320px;
  margin-left: 40%;
  margin-bottom: 25px;
}
.line3{
  visibility: collapse;
}
.feature_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
  margin-left: 10px;
  margin-top: 0px;
  padding-right: 1px;
  color: white;
}
.feature_container_footer {
  
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-left: 5%;
  
}
.FooterIconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.FooterIconContainer img {
  width: 40px;
  height: 40px;
  margin-top: 0;
  margin-right: 15px;
  cursor: pointer;
}
.feature_container_header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.feature_container_header h1 {
  margin-left: 0px;
}
.FooterIconContainer h3 {
  margin-top: 0;
  width: 100%;
}
}
