.feature_container {
  display: flex;
  background-color: #2c2c2c;
}

.image_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_main_container img {
  width: 100%;
}

.feature_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 150px;
  margin-top: 20px;
 
  color: white;
}

.feature_container_header {
  display: flex;
  flex-direction: column;
}

.feature_container_header h1 {
  color: white;
  margin-top: 20px;
}

.line {
  width: 50px;
  height: 2px;
  background-color: green;
  margin-top: 20px;
}

.feature_content_container {
  display: flex;
  flex-direction: column;
  gap: 35px;
 
}

.list_container {
  display: flex;
  flex-direction: column;
  color: white;
}

.list_container_check {
  display: flex;
  gap: 120px;
  padding: 0;
  margin: 0;
}

.list_container li {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 45px;
  list-style: none;
}

.line2 {
  width: 95%;
  border-bottom: 1px solid rgb(250, 250, 250);
  /* margin-top: 50px; */
  
}

.feature_container_footer {
  display: flex;
 
}

.FooterIconContainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.FooterIconContainer img {
  /* width: 70px;
  height: 70px; */
  /* margin-top: 55px; */
  margin-right: 15px;
  cursor: pointer;
}

.FooterIconContainer h3 {
  color: white;
  /* margin-top: 80px; */
  width: 110px;
}

.line3 {
  border-left-style: dotted;
  margin-top: 55px;
  margin-left: 25px;
}

/* Mobile Responsive */
@media screen and (max-width: 480px) {
  .feature_container {
    flex-direction: column;
    padding-bottom: 55px;
  }

  .image_main_container img {
    width: 90%;
  }

  .list_container_check {
    flex-direction: column;
    gap: 0;
  }

  .list_container li {
    line-height: 1.2;
    align-items: flex-end;
  }

  .line {
    margin-left: 8%;
  }

  .line2 {
    width: 320px;
    margin-left: 40%;
    margin-bottom: 25px;
  }

  .feature_content {
    margin-left: 10px;
    padding-right: 1px;
    gap: 1px;
  }

  .feature_container_footer {
    flex-direction: column;
    gap: 0;
    margin-left: 5%;
  }

  .FooterIconContainer img {
    width: 40px;
    height: 40px;
    margin-top: 0;
  }

  .FooterIconContainer h3 {
    margin-top: 0;
    width: 100%;
  }

  .line3 {
    visibility: collapse;
  }

  .feature_container_header h1 {
    margin-left: 0;
  }
}
