
.about{
  /* position:;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: white; */
}
.aboutus_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 21px;
  
  
}
.line {
  width: 50px;
  height: 2px;
  background-color: green;
  margin-left: 20.5%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.aboutus_container h1 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  margin-left: 20.5%;
  margin-top: 40px;
}
.content_p {
  font-size: 20px;
  color: #555555;
  width: 80%;
  text-align: justify;
  line-height: 1.6;
}
.aboutus_content_and_img {
  display: flex;

  justify-content: center;
  gap: 20px;
}
.aboutus_content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
  height: auto;

  margin-right: 5px;
  height: auto;

  gap: 20px;
}
.img1 {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

/* promoting container */
.promoting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: #f2f2f2;
  background-size: cover;
  padding: 80px 21px;
  border-radius: 10px;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
  gap: 20px;
  border-radius: 10px;
}
.promoting_container h1 {
  color: black;
  margin-bottom: 40px;
}
