.feature_container{
    display: flex;
    background-color: #2C2C2C;
   
   
}
.feature_content_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding-right: 100px;
}
.feature_container_header{
    display: flex;
    flex-direction: column;
    
}
.feature_container_header h1{
    color: white;
    margin-left: 60px;
    margin-top: 20px;
}
.feature_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    margin-top: 20px;
    padding-right: 100px;
    color: white;
  
}

.line{
    width: 50px;
    height: 2px;
    background-color: green;
     margin-left: 80px;
     margin-top: 20px;
  
}
.list_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    list-style: none;
    
}
.list_container ul{
    display: flex;
    gap: 150px;
    padding: 0;
    margin: 0;
}
.list_container li{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 45px;
    list-style: none;
}

.feature_container_footer{
    width: 100%;
    display: flex;
    gap: 40px;
    
    margin-left: 20%;

}
  .line2{
    width: 90%;
    border-bottom: 1px solid rgb(250, 250, 250);
    margin-top:50px;
    margin-left: 10%;

    }
    
.FooterIconContainer{
    display: flex;
   
}
.FooterIconContainer img{
    width: 80px;
    height: 80px;
    margin-top: 55px;
    margin-right: 15px;
    cursor: pointer;
}
.FooterIconContainer h3{
   color: white;
   margin-top: 80px;
   width: 110px;

}
.line3{
   border-left-style: dotted;
   margin-top: 55px;
   margin-left: 25px;
 
    }