.hero {
  position: relative;
  width: 100%;
  /* min-height: 100vh;  */
  background-image: url('../../assets/about_images/enjoyagroresort/1.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.overlay {
  position: relative;
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4); 
  color: white;
  text-align: center;
  padding: 0 20px;
}
.overlay h1 {
    font-size: 60px;
    margin-bottom: 10px;
    }
.overlay h2 { 
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 100;
    color: green;
    }
.overlay svg {
    
    cursor: pointer;
    transition: transform 0.3s;
 }
.overlay svg:hover { transform: scale(1.2); }
