.aboutus_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  padding: 100px 21px;
    
}
.line{
    width: 50px;
    height: 2px;
    background-color: green;
    margin-left:20.5%;
    margin-top:10px;
    margin-bottom:20px;
}
.aboutus_container h1{
    color:black;
    font-size:40px;
    font-weight:600;
    margin-left:20.5%;
    margin-top:40px;
}
.content_p{
    font-size:20px;
    color:#555555;
    /* margin-right:200px; */
    width: 80%;
   text-align: justify;
    line-height: 1.6;
    /* background-color: red; */
   
}
.aboutus_content_and_img{
    display: flex;
    /* background-color: yellow; */
     justify-content: center;
     gap: 20px;
     
}
.aboutus_content{
    display: flex;
    
    align-items: flex-end;
   /* background-color: blue; */
    flex-direction: column;
    width: 50%;
    height: auto;
  
    margin-right: 5px;
    height: auto;
    
    gap:20px;
}
.img1{
    width:500px;
    height: auto;
    border-radius: 10px;
}



/* promoting container */
.promoting_container{
    width: 100%;
    height: 300px;
    background: #191919 url(../../assets/about_images/2.jpg) center center no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}