.roomcard_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  
  padding: 100px 0;
  background-color: #f3f3f3;
}
.roo {
  display: grid;
  grid-template-columns: repeat(3,400px);
  gap: 40px; 

}

.imageWrapper {
  position: relative;
  width: 400px;
  height: 260px;
  overflow: hidden;
}



.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}
.roomcard{
  background-color: white;
}
.roomcard_content {
  display: flex;
  flex-direction: column;
  padding: 25px ;

 
}

.price_container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}


.list_details{
  /* position: relative; */
}

/* details of room */
.details_room.details_room {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ratting_and_rating_number_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.stars_wrapper{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2px;
}
.rating{
  background-color: green;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
}
.rating_review_wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  margin: 10px 0;
}
.earthroom_plus_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.earthroom_plus_wrapper img{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.choose_date_button_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.choose_date_button{
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: rgb(8, 105, 4);
  font-size: 16px;
  font-weight: 550;
  text-align: center  ;

}
.choose_date_button:hover{
  background-color: rgb(8, 105, 4);
  color: white;
}



/* animations on image hover */
.imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  transition: 0.4s ease;
}
.imageWrapper:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

/* show on hover */
.imageWrapper:hover .overlay {
  opacity: 1;
}

.bookbtn {
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  /* border-radius: 5px; */
  color: white;
  background-color: green;
  text-decoration: none;
  transform: translateY(100px);
  transition: 0.4s ease;
  opacity: 0;
  font-weight: 200;
}
.bookbtn:hover{
  background-color: white;
  color: green;
}

.imageWrapper:hover .bookbtn {
  transform: translateY(0);
  opacity: 1;
}






@media screen and (max-width:480px)  {
 
 .roomcard_container{
  display: flex;
  justify-content: center;
  align-items: center;


 }
  .roo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageWrapper img{
    
    width: 100%;
  }
  
}
