.roomcard_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  
  padding: 100px 0;
  background-color: #f3f3f3;
}
.roo {
  display: grid;
  grid-template-columns: repeat(3,400px);
  gap: 40px; 
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  */
}

.imageWrapper {
  position: relative;
  width: 400px;
  height: 260px;
  overflow: hidden;
}



.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}
.roomcard{
  background-color: white;
}
.roomcard_content {
  display: flex;
  flex-direction: column;
  padding: 25px ;
  /* justify-content: center; */
  /* background-color: white;  */
 
}

.price_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.price_container p{
  margin: 0;
}
/* animations on image hover */
.imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  transition: 0.4s ease;
}
.imageWrapper:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

/* show on hover */
.imageWrapper:hover .overlay {
  opacity: 1;
}

.bookbtn {
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  /* border-radius: 5px; */
  color: white;
  background-color: green;
  text-decoration: none;
  transform: translateY(100px);
  transition: 0.4s ease;
  opacity: 0;
  font-weight: 200;
}
.bookbtn:hover{
  background-color: white;
  color: green;
}

.imageWrapper:hover .bookbtn {
  transform: translateY(0);
  opacity: 1;
}
@media screen and (max-width:480px)  {
  .roo{
    display: flex;
    flex-direction: column;
  }
}
