

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 105px;
}
.btn_container{
    display: flex;
    column-gap: 25px;
    margin-bottom: 10px;
    /* background-color: red; */
    justify-content: center;
}
.btn{
    font-size: 18px;
    background-color: rgb(207, 204, 204);
    border: none;
    padding: 5px 40px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(238, 178, 67);
}

.condition_container{
    display: flex;
    flex-direction: column;
}