.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    /* background-color: red; */
}
.resort_booking_from{
    color: var(--colors-foreground-default);
    font-size: 28px;
}
.header{
    /* margin-right: 330px; */
    display: flex;
    margin: 40px 300px 40px 0px;
    flex-direction: column;
}
.header p{
    margin: 0;
    
}
.form{
    display: flex;
    flex-direction: column;
    
    /* background-color: blue; */
    width: 30%;
    height: auto;
}
input{
    padding: 6px;
    width: 100%;
}
.select_gender,.select_country{
    padding: 6px;
    width: 50%;
}
.display{
    display: flex;
    flex-direction: column;
}
.number{
    width: 50%;
}
.label{
    display: flex;
        font-size: 18px;
    margin-bottom: 12px;
    margin-top: 36px;
}
.error_content{
    color: red;
    margin-bottom: 6px;
    font-size: 14px;
    
}
.date{
    width: 50%;
}
.star{
    color: red;
}

.messageBox {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 15px;
  resize: none; /* prevent manual resizing */
  border: 1px solid gray;
  border-radius: 4px;
  line-height: 1.4;
  box-sizing: border-box;
  word-wrap: break-word;
}
.li_all{
    color: red;
}
.btn_submit{
    width: fit-content;
    font-size: 15px;
    padding: 8px 20px;
    background-color: blue;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 10px;
}

.donot_submit{
    font-size: 12px;
}

.input{
    position: relative;
}
.gender_icon{
    position: absolute;
    top: 846px;
    left: 48%;
}
.country_icon{
    position: absolute;
    /* top: 6px; */
    /* left: 48%; */
}
