.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 25px;
    /* background-color: red; */
  
    
      overflow-y: auto;   
  overflow-x: hidden; 
   max-height: 60vh; 
  overflow-y: auto;
 
  

}
.resort_booking_from{
    color: var(--colors-foreground-default);
    font-size: 28px;
}
.header{
    /* margin-right: 330px; */
    display: flex;
    margin: 40px 300px 40px 0px;
    flex-direction: column;
}
.header p{
    margin: 0;
    
}
.form{
    display: flex;
    flex-direction: column;
    width: 30%;

    height: auto;
   
    
    

}
input{
    padding: 6px;
    width: 100%;
}
.select_gender,.select_country{
    padding: 6px;
    width: 50%;
}
.display{
    display: flex;
    flex-direction: column;
}
.number{
    width: 50%;
}
.label{
    display: flex;
        font-size: 18px;
    margin-bottom: 12px;
    margin-top: 36px;
    width: fit-content;
}
.error_content{
    color: red;
    margin-bottom: 6px;
    font-size: 14px;
    
}
.date{
    width: 50%;
    min-height: 35px;
}
.date::-webkit-calendar-picker-indicator {
  opacity: 0;       /* make icon invisible */
  cursor: pointer;  /* still clickable */
}
.date {
  -moz-appearance: none;
}
.star{
    color: red;
}

.messageBox {
  min-height: 100px;
border: 2px solid rgb(223, 213, 213);
border-radius: 5px;
padding-left: 5px;
padding-top: 5px;
}
.messageBox:hover{
    border:2px solid #46464b;
}
.li_all{
    color: red;
}
.btn_submit{
    width: fit-content;
    font-size: 15px;
    padding: 8px 20px;
    background-color: blue;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 10px;
}

.donot_submit{
    font-size: 12px;
}


/* icon */
.input{
    position: relative;
}
.gender_icon{
    position: absolute;
    top: 800px;
    left: 48%;
}
.country_icon{
    position: absolute;
    top:912px;
    left: 48%;
}

.icon_purpose{
     position: absolute;
    top:1425px;
    left: 48%;
}

.icon_roomtype{
     position: absolute;
    top:1425px;
    left: 48%;
}


.borderinput{
    border: 2px solid rgb(223, 213, 213);
    border-radius: 5px;
}
.borderinput:hover{
    border:2px solid #46464b;
}
