.dropdownContainer {
  position: relative;
  width: 100%;
}
.label{
    display: flex;
        font-size: 18px;
    margin-bottom: 12px;
    margin-top: 36px;
}

.label_and_span{
    display: flex;
    flex-direction: column;
    
}

.error{
      color: red;
    margin-bottom: 6px;
    font-size: 14px;
}
.dropdownBox {
  padding: 14px;
  font-size: 15px;
  border: 1px solid gray;
  cursor: pointer;
  width: 50%;
  background: white;
  min-height: 40px; /* set a fixed height */
  display: flex;
  align-items: center; /* center the text vertically */
}

.dropdownList {
  position: absolute;
  width: 50%;
  background: white;
  border: 1px solid gray;
  z-index: 1000;
}
.listofdrop_down{
    width: fit-content;
    height: fit-content;
    padding: 0;
    line-height: 0;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.searchInput {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.optionsList {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

.optionsList li {
  padding: 10px;
  cursor: pointer;
}

.optionsList li:hover {
  background: #f3f3f3;
}

.noOption {
  padding: 10px;
  color: #888;
}




