.container{
    display: flex;
    flex-direction: column;
    
}
.heading_wrapper{
  display: flex;
    flex-direction: column;
}
.h1{
    display: flex;
    justify-content: space-between;
}
.line{
    width: 100%;
    border-bottom: 2px solid red;
}
.content{
    font-size: 10px;
}